/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove style defaults */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Set core a elements defaults*/
a {
  color: inherit;
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Avenir";
  src: url(../../fonts/AvenirLTStd-Black.otf);
  src: url(../../fonts/AvenirLTStd-Book.otf);
  src: url(../../fonts/AvenirLTStd-Roman.otf);
}
@font-face {
  font-family: "Helvetica";
  src: url(../../fonts/Helvetica-Bold.ttf);
  src: url(../../fonts/Helvetica-BoldOblique.ttf);
  src: url(../../fonts/helvetica-light-587ebe5a59211.ttf);
  src: url(../../fonts/Helvetica-Oblique.ttf);
  src: url(../../fonts/Helvetica.ttf);
}
html {
  font-size: 1rem;
}

body {
  background-color: linear-gradient(180deg, hsl(206deg, 64%, 98%) 0%, hsl(0deg, 0%, 100%) 19.4%);
  color: hsl(203deg, 16%, 35%);
  font: 400 1rem/1.6 "Avenir", sans-serif;
}

.container {
  width: 90%;
  max-width: 1248px;
  margin: 3.125em auto 5.6875em;
}
@media (min-width: 1440px) {
  .container {
    width: 100%;
  }
}

::-moz-selection {
  background-color: hsl(203deg, 16%, 35%);
  color: hsl(0deg, 0%, 100%);
}

::selection {
  background-color: hsl(203deg, 16%, 35%);
  color: hsl(0deg, 0%, 100%);
}

h1,
h2,
h3 {
  font: 700 2.5rem/1.3 "Helvetica", sans-serif;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h4,
p {
  font: 900 1.125rem/1.6 "Avenir", sans-serif;
}

p {
  font-weight: 400;
}

:where(h1, h2, h3, h4) {
  color: hsl(238deg, 43%, 23%);
}

.menu {
  max-width: 1120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.125em;
  position: relative;
}
@media (min-width: 768px) {
  .menu {
    margin-bottom: 8.125em;
  }
}
.menu__item-list {
  display: none;
}
@media (min-width: 768px) {
  .menu__item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    gap: 20px;
    margin-left: 10.8%;
  }
}
.menu__item-list--vertical {
  background-color: hsl(324deg, 82%, 66%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  position: fixed;
  inset: 0 0 0 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  z-index: 2;
}
.menu__item-list--vertical .menu__item {
  color: #bfbfbf;
  font-size: 2.5rem;
}
.menu__item--active {
  color: hsl(238deg, 43%, 23%);
  font-weight: 800;
}
.menu__toggle-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 15px 0;
  position: absolute;
  inset: auto 0 0 auto;
  z-index: 3;
}
@media (min-width: 768px) {
  .menu__toggle-btn {
    display: none;
  }
}
.menu__toggle-btn--is-open .menu__toggle-btn {
  position: fixed;
  inset: auto 5% auto auto;
}
.menu__toggle-btn--is-open .menu__item-list--vertical {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.menu__toggle-btn--is-open .menu__toggle-hamburger {
  -webkit-transform: rotate(0.625turn);
          transform: rotate(0.625turn);
}
.menu__toggle-btn--is-open .menu__toggle-hamburger::before {
  -webkit-transform: rotate(90deg) translateX(-10px);
          transform: rotate(90deg) translateX(-10px);
}
.menu__toggle-btn--is-open .menu__toggle-hamburger::after {
  opacity: 0;
}
.menu__toggle-hamburger {
  display: block;
  -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
  position: relative;
}
.menu__toggle-hamburger, .menu__toggle-hamburger::after, .menu__toggle-hamburger::before {
  width: 50px;
  height: 5px;
  background-color: hsl(265deg, 68%, 65%);
  border-radius: 20px;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
.menu__toggle-hamburger::after, .menu__toggle-hamburger::before {
  content: "";
  position: absolute;
  inset: auto 0 auto 0;
}
.menu__toggle-hamburger::after {
  bottom: 10px;
}
.menu__toggle-hamburger::before {
  top: 10px;
}

.no-scroll {
  overflow: hidden;
}

.hero {
  margin-bottom: 3.125em;
  padding-bottom: 6.25em;
  position: relative;
}
@media (min-width: 768px) {
  .hero {
    margin-bottom: 6.1875em;
  }
}
.hero::before {
  content: "";
  width: 70.9%;
  height: 85%;
  background: url(../../images/hero-img.svg) no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: absolute;
  right: 0;
  bottom: 0;
}

.about-us {
  max-width: 1117px;
  margin-bottom: 3.125em;
}
@media (min-width: 768px) {
  .about-us {
    margin-bottom: 9.375em;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 9px;
}
.logo__circle {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: hsl(265deg, 68%, 65%);
  border-radius: 50px;
}
.logo__pill {
  width: 20px;
  height: 35px;
  background-color: hsl(324deg, 82%, 66%);
  border-radius: 50px;
}

.btn {
  border-radius: 50px;
  color: hsl(238deg, 43%, 23%);
  font-weight: 800;
}
.btn--primary {
  background-color: hsl(0deg, 0%, 100%);
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  padding: 1.0625em 1.8125em;
}
.btn--secondary {
  background-color: hsl(265deg, 68%, 65%);
}
.btn--secondary:hover {
  background-color: #e3d4f7;
}
.btn--footer {
  background-color: hsl(324deg, 82%, 66%);
  font-weight: 900;
}
.btn--footer:hover {
  background-color: #fbd5ec;
}

.btn--primary, .btn--transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.btn--secondary, .btn--footer {
  color: hsl(0deg, 0%, 100%);
  display: inline-block;
  font-size: 1.125rem;
  padding: 0.89em 2.05em 0.83em;
}
.btn--secondary:hover, .btn--footer:hover {
  color: hsl(238deg, 43%, 23%);
}

.menu__btn {
  display: none;
}
@media (min-width: 768px) {
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.intro {
  position: relative;
}
.intro__title {
  max-width: 645px;
  margin-bottom: 1.25em;
}
@media (min-width: 460px) {
  .intro__title {
    font-size: 3.5rem;
    margin-bottom: 0.892em;
  }
}
@media (min-width: 640px) {
  .intro__title {
    font-size: 5rem;
    line-height: 1.1;
    margin-bottom: 0.625em;
  }
}
.intro__text {
  max-width: 380px;
  font-weight: 500;
  margin-bottom: 2.77em;
}

.card {
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 1em;
  text-align: center;
}
@media (min-width: 768px) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
}
.card--primary {
  background-color: hsla(324deg, 82%, 66%, 0.15);
  gap: 5.55%;
}
@media (min-width: 768px) {
  .card--primary {
    border-radius: 50px;
    padding: 2em 5.8125em 1.5em 0.6875em;
  }
}
@media (min-width: 768px) {
  .card--primary .card__img {
    width: 42.7%;
  }
}
.card--primary .card__content {
  max-width: 475px;
}
.card--primary .card__title {
  margin-bottom: 1em;
}
.card--secondary {
  max-width: 645px;
  background-color: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(265deg, 68%, 65%);
  -webkit-box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
          box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  gap: 4.65%;
}
@media (min-width: 768px) {
  .card--secondary {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 3.75em 3.75em 3.4375em 2.5em;
  }
}
.card--secondary .card__content {
  max-width: 385px;
  margin-top: 1.25em;
}
.card__link {
  color: hsl(265deg, 68%, 65%);
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1.36em;
}/*# sourceMappingURL=style.css.map */