*,
::after,
::before {
    box-sizing: border-box;
}

/* ||FONTS */

@font-face {
    font-family: 'Avenir';
    src: url(./fonts/AvenirLTStd-Black.otf);
    src: url(./fonts/AvenirLTStd-Book.otf);
    src: url(./fonts/AvenirLTStd-Roman.otf)
}

@font-face {
    font-family: 'Helvetica';
    src: url(./fonts/Helvetica-Bold.ttf);
    src: url(./fonts/Helvetica-BoldOblique.ttf);
    src: url(./fonts/helvetica-light-587ebe5a59211.ttf);
    src: url(./fonts/Helvetica-Oblique.ttf);
    src: url(./fonts/Helvetica.ttf);
}

/* ||SETUP */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    /* colors */
    --bg-color: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    --pink: #f063b8;
    --purple: #9c69e2;
    --text-color-dark: #212353;
    --text-color-light: #4b5d68;
    --white: #ffffff;
    /* fonts */
    --body-ff: 'Avenir', sans-serif;
    --heading-ff: 'Helvetica', sans-serif;
    --primary-font: 400 1rem/1.6 var(--body-ff);
    --secondary-font: 700 2.5rem/1.3 var(--heading-ff);
    --btn-font: 800 1rem/1.6 var(--body-ff);
}

/* ||GENERAL */

body {
    background-color: var(--bg-color);
    color: #4b5d68;
    font: 400 1rem/1.6 'Avenir', sans-serif;
}

.container {
    width: 90%;
    max-width: 1248px;
    margin: 50px auto;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

:focus {
    outline: 3px solid #9c69e2;
    outline-offset: 3px;
}

/* ||TYPOGRAPHY */

h1,
h2 {
    font: 700 2.5rem/1.3 'Helvetica', sans-serif;
    color: #212353;
}

h3 {
    color: #212353;
    font: 400 1.5rem/1.3 'Helvetica', sans-serif;
}

h4 {
    color: #212353;
    font: 900 1.125rem/1.6 'Avenir', sans-serif;
    letter-spacing: 0.005em;
}

p {
    font: 500 1.125rem/1.6 'Avenir', sans-serif;
}

.active {
    color: #212353;
    font-weight: 800;
}

.vertical-nav__link {
    font: 700 2.5rem/1.3 'Helvetica', sans-serif;
}

.features-content__text {
    font: 400 1rem/1.6 'Avenir', sans-serif;
}

.testimonials__title {
    color: #FFFFFF;
}

.testimonials-card__link {
    color: #9C69E2;
    font: 500 0.875rem/1.6 'Avenir', sans-serif;
    letter-spacing: 0.01em;
}

.testimonials-card__text {
    font: 400 1.125rem/1.8 'Avenir', sans-serif;
}

/* ||BUTTONS */

.btn {
    border-radius: 50px;
    color: #212353;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font: 800 1rem/1.6 'Avenir', sans-serif;
    gap: 20px;
    letter-spacing: 0.005em;
}

.btn-arrow {
    background-color: #ffffff;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    padding: 1.0625em 1.8125em;
}

.btn-intro,
.btn-footer {
    color: white;
    display: inline-block;
    font-size: 1.125rem;
    padding: 1em 2.3125em;
}

.btn-intro {
    background-color: #9c69e2;
}

.btn-footer {
    font-weight: 900;
}
/* ||ICONS */

.logo__circle {
    width: 1.25em;
    aspect-ratio: 1 / 1;
    background-color: #9c69e2;
    border-radius: 50px;
}

.logo__pill {
    width: 1.25em;
    height: 2.1875em;
    background-color: #f063b8;
    border-radius: 50px;
}

.scroll-bar__dot {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 50px;
    cursor: pointer;

}

/* ||HAMBURGER */

.nav-toggle {
    background-color: transparent;
    border: 0;
    padding: 15px 0;
    position: absolute;
    inset: auto 0 0 auto;
    z-index: 2;
}

.nav-open .nav-toggle {
    position: fixed;
    inset: 50px 5% auto auto;
}

.nav-open .vertical-nav {
    transform: translateX(0);
}

.nav-open .nav-toggle__hamburger {
    transform: rotate(0.625turn);
}

.nav-open .nav-toggle__hamburger::before {
    transform: rotate(90deg) translateX(-10px);
}

.nav-open .nav-toggle__hamburger::after {
    opacity: 0;
}

.nav-toggle__hamburger {
    display: block;
    position: relative;
}

.nav-toggle__hamburger,
.nav-toggle__hamburger::after,
.nav-toggle__hamburger::before {
    width: 50px;
    height: 5px;
    background-color: #9c69e2;
    border-radius: 20px;
    transition: transform 250ms ease-in-out;
}

.nav-toggle__hamburger::after,
.nav-toggle__hamburger::before {
    content: '';
    position: absolute;
    inset: auto 0 auto 0;
}

.nav-toggle__hamburger::after {
    bottom: 10px;
}

.nav-toggle__hamburger::before {
    top: 10px;
}

/* ||DIVIDER */

.divider {
    border-top: 2px solid #F063B8;
    width: 100%;
    opacity: 0.2;
    position: absolute;
    left: 0;
    margin-bottom: 50px;
}

/* ||LAYOUT */

/* header */
.header {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}

.logo__circle,
.logo__pill,
.nav-toggle__hamburger {
    filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.3));
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 121px;
}

.logo {
    display: flex;
    align-items: baseline;
    gap: 9px;
}

.horizontal-nav {
    display: none;
}

.horizontal-nav__list {
    display: flex;
    gap: 20px;
}

.menu-right {
    display: none;
}

.vertical-nav {
    background-color: #f063b8;
    position: fixed;
    inset: 0 0 0 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    z-index: 1;
}

.vertical-nav__list {
    height: calc(100vh + 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

/* hero */
.hero {
    margin-bottom: 50px;
    padding-bottom: 100px;
    position: relative;
}

.hero::before {
    content: '';
    max-width: 885px;
    width: 100%;
    height: 100%;
    background: url(./images/hero-img.svg) no-repeat;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
}

.intro {
    position: relative;
}

.intro__title,
.intro__text {
    margin-bottom: 50px;
}

.intro__title {
    max-width: 645px;
}

.intro__text {
    max-width: 380px;
}

/* ||ABOUT-US */

.about-us {
    max-width: 1117px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 40px 14px;
    text-align: center;
}

.about-us__desc {
    max-width: 475px;
}

.about-us__title {
    margin-bottom: 40px;
}

.about-us__img {
    width: 42.7%;
}

/* features */
.features {
    max-width: 1137.28px;
    margin-bottom: 50px;
    padding: 40px 14px;
    text-align: center;
}

.features__title {
    margin-bottom: 25px;
}

.features__subtitle {
    max-width: 584px;
    margin: 0 auto 50px;
}

.features-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
}

.features-content__box {
    border-radius: 50px;
    display: flex;
    align-items: flex-start;
    padding: 49px 50px 33px;
    text-align: left;
}

.search-data {
    background-color: rgb(104, 201, 186, 0.1);
}
.hours-access {
    background-color: rgb(156, 105, 226, 0.1);
}
.print-out {
    background-color: rgb(240, 99, 184, 0.1);
}
.security-code {
    background-color: rgb(45, 156, 219, 0.1);
}

.features-content__img {
    display: none;
}
/* features text-block */
.features-content__title,
.features-content__text {
    margin-bottom: 20px;
}

.features-content__title {
    height: 50px;
    display: flex;
    align-items: center;
}

.features-content__text-block {
    max-width: 220px;
}

.features-content__text {
    min-height: 160px;
}

/* ||TESTIMONIALS */

.testimonials {
    max-width: 1118px;
    background-color: #9C69E2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 40px 14px;
}

.testimonials__title {
    margin-bottom: 1em;
}

.testimonials__cards {
    /* display: flex; */
    /* align-items: center; */
    /* gap: 27px; */
    margin-bottom: 58px;
}

.testimonials-card {
    background-color: #ffffff;
    border: 1px solid #9C69E2;
    border-radius: 20px;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 60px 70px 50px;
}

.testimonials-card--focused {
    max-width: 645px;
}

.testimonials-card__text-block {
    max-width: 385px;
    display: flex;
    flex-direction: column;
}

.testimonials-card__link {
    margin-bottom: 19px;
}

.testimonials__scroll-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scroll-bar__dots {
    display: flex;
    gap: 10px;
}

.scroll-bar__dot--active {
    width: 10px;
    height: 10px;
    background-color: #F063B8;
}

.scroll-bar__arrows {
    display: flex;
    gap: 20px;
}

.scroll-bar__arrow-icon {
    cursor: pointer;
}

/* ||FOOTER */

.footer {
    padding-top: 50px;
}

/* ||MEDIA QUERIES */

@media screen and (min-width: 576px) {
    .features {
        padding: 0;
    }
    .features-content__box {
        border-radius: 0;
        padding: 0;
    }
    .features-content__img {
        display: block;
    }
    .search-data {
        max-width: 531.29px;
        height: 388px;
        gap: 29.29px;
        margin-top: -30px;
        margin-left: 19px;
        background: url(./images/search-data-rectangle.svg) no-repeat 100% 100%;
        padding: 79px 50px 33px 0;
    }
    .search-data__img {
        margin-top: 30px;
    }
    .hours-access {
        max-width: 544.28px;
        height: 402px;
        gap: 33.28px;
        background: url(./images/24-hours-access-rectangle.svg) no-repeat 100% 0%;
        padding: 49.92px 50px 70.87px 0;
    }
    .hours-access__img {
        margin-top: 22.42px;
    }
    .print-out {
        width: 550.28px;
        height: 358px;
        gap: 35.29px;
        background: url(./images/print-out-rectangle.svg) no-repeat 100%;
        padding: 49px 50px 33px 0;
    }
    .print-out__img {
        margin-top: 74px;
    }
    .security-code {
        width: 539.28px;
        height: 364px;
        gap: 39.28px;
        background: url(./images/security-code-rectangle.svg) no-repeat 100% 100%;
        padding: 55px 50px 33px 0;
    }
    .security-code__img {
        margin-top: 37px;
    }
}

@media screen and (min-width: 768px) {
    /* header */
    .header {
        margin-bottom: 130px;
    }
    .nav-toggle,
    .vertical-nav {
        display: none;
    }
    .horizontal-nav {
        display: block;
    }
    .menu-right {
        display: inline-block;
    }
    /* hero */
    .hero {
        margin-bottom: 99.18px;
        overflow: hidden;
    }
    .hero::before {
        width: 79.02%;
        height: 83%;
        opacity: 1;
        right: -11.42%;
        bottom: 0;
    }
    .intro__title {
        font: 700 5rem/1.1 'Helvetica', sans-serif;
    }
    /* about-us */
    .about-us {
        border-radius: 50px;
        gap: 5.55%;
        flex-direction: row-reverse;
        margin-bottom: 150px;
        padding: 2em 5.8125em 1.5em 0.6875em;
        text-align: left;
    }
    /* fetures */
    .features {
        margin-bottom: 148px;
        margin-left: -20px;
    }
    .features-content {
        align-items: flex-start;
    }
    .features-content__box:nth-of-type(even) {
        align-self: flex-end;
    }
    /* testimonials */
    .testimonials {
        margin-bottom: 152px;
        border-radius: 50px;
    }
    /* footer */
    .footer {
        padding-top: 100px;
    }
}

@media screen and (min-width: 1260px) {
    .container {
        width: 70%;
    }
    .hero {
        overflow: visible;
    }
    .features-content {
        flex-flow: row wrap;
        justify-content: center;
    }
    .features-content__box:nth-of-type(even) {
        align-self: auto;
    }
}
