// COLORS
$color-primary: linear-gradient(180deg, hsl(206, 64%, 98%) 0%, hsl(0, 0%, 100%) 19.4%);

$color-accent-pink: hsl(324, 82%, 66%);
$color-accent-pinklight: hsla(324, 82%, 66%, 0.15);
$color-accent-purple: hsl(265, 68%, 65%);

$color-text-dark: hsl(238, 43%, 23%);
$color-text-light: hsl(203, 16%, 35%);

$color-black: hsl(0, 0%, 0%);
$color-white: hsl(0, 0%, 100%);

// FONTS

$font-family-body: 'Avenir', sans-serif;
$font-family-heading: 'Helvetica', sans-serif;

$primary-font: 400 1rem/1.6 $font-family-body;
$secondary-font: 700 2.5rem/1.3 $font-family-heading;

$default-font-size: 1rem;