.intro {
    position: relative;
    &__title {
        max-width: 645px;
        margin-bottom: 1.25em;
        @include mq(xsmall) {
            font-size: 3.5rem;
            margin-bottom: 0.892em;
        }
        @include mq(small) {
            font-size: 5rem;
            line-height: 1.1;
            margin-bottom: 0.625em;
        }
    }
    &__text {
        max-width: 380px;
        font-weight: 500;
        margin-bottom: 2.77em;
    }
}