@font-face {
    font-family: 'Avenir';
    src: url(../../fonts/AvenirLTStd-Black.otf);
    src: url(../../fonts/AvenirLTStd-Book.otf);
    src: url(../../fonts/AvenirLTStd-Roman.otf);
}

@font-face {
    font-family: 'Helvetica';
    src: url(../../fonts/Helvetica-Bold.ttf);
    src: url(../../fonts/Helvetica-BoldOblique.ttf);
    src: url(../../fonts/helvetica-light-587ebe5a59211.ttf);
    src: url(../../fonts/Helvetica-Oblique.ttf);
    src: url(../../fonts/Helvetica.ttf);
}